body {
    padding-bottom: 1500px;
    /* justify-content: space-between; */
}
.three {
    display: flex;
    /* flex-direction: row; */
}
.one {
    background-color: blue;
    flex: 3;
}
.two {
    background-color: red;
    flex: 2;
}
.me {
    display: flex;
    position: fixed;
    background-color: greenyellow;
    left: 0;
    bottom: 0;
    top: 89px;
}